body{
background-color:#222222;
margin: auto;

}
.sbody{
background-image:url("Coffeeshop.png");
height: 600px;
text-align: center;
}
.dessert_header{
background-image:url("dessert_header.png");
height: 600px;
text-align: center;
}
.t{
	color: white;
	font-family: Times New Roman;
	font-size: 70px;
	font-weight: bold;
}
.t2{
  color: white;
  font-family: Times New Roman;
  font-size: 70px;
  font-weight: bold;
  text-align: center;
}
.Deserts{
text-align: center;


}
.Drinks{

text-align: center;
}
.CoffeeBeans{
	text-align: center;
}
.Sandwiches{
text-align: center;
}
.mySlides {
	display:none;
}
.w3-left, .w3-right, .w3-badge {
	cursor:pointer;
}
.w3-badge {
	height:13px;
	width:13px;
	padding:0;
}
.w3-content{
	padding-top: 10px;
}
.Map{
 margin-top: 150px;
 border:2;
 border-color:green;
 float: right;
 margin-top: 0px;
}
.BMap{
padding-top: 10px;
padding-right:10px;
padding-bottom: 10px;
float: right;
height: auto;
width: 730px;
border:solid 3px;
border-color: white;
}
#site-footer{
height: auto;
background: #121212;

}
input[type=text], select, textarea {
  width: 100%;
  padding: 9px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 30%;
  margin-top: 6px;
  padding: 5px;
  padding-left: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
.info{
color: white;

}
.Location{
	text-align: right;
	color: white;
	padding-right: 300px;
	margin-top: 20px;
}

/* Create four equal columns that floats next to each other */
.column2 {
  float: left;
  border: solid 2px;
  border-color: white;
  color: white;
  text-align: center;
  background-color: #098785;
  width: 250px;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 35px;
}

.row2{
  padding-top: 35px;
  margin-left: 5%;
  margin-right: 5%;
}
/* Clear floats after the columns */