body{
  background-image:url("Images/coffee.jpg");
  font-family: Arial, Helvetica, sans-serif;
  margin:auto;
}
.pages-background{
	background-image:url("Images/coffee.jpg");

}

.sbody{
background-image:url("Images/Coffeeshop.png");
height: 300px;
text-align: center;
}
.dessert_header{
background-image:url("Images/dessert_header.png");
height: 600px;
text-align: center;
}
.t{
	color: white;
	font-family: Times New Roman;
	font-size: 60px;
	font-weight: bold;
}
.t2{
  color: white;
  font-family: Times New Roman;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}
.Deserts{
text-align: center;


}
.Drinks{

text-align: center;
}
.CoffeeBeans{
	text-align: center;
}
.Sandwiches{
text-align: center;
}
.mySlides {
	display:none;
}
.w3-left, .w3-right, .w3-badge {
	cursor:pointer;
}
.w3-badge {
	height:13px;
	width:13px;
	padding:0;
}
.w3-content{
	padding-top: 10px;
}
.Map{
 margin-top: 150px;
 border:2;
 border-color:green;
 float: right;
 margin-top: 0px;
}
.BMap{
padding-top: 10px;
padding-right:10px;
padding-bottom: 10px;
float: right;
height: auto;
width: 730px;
border:solid 3px;
border-color: white;
}
#site-footer{
height: auto;
background: #121212;

}
input[type=text], select, textarea {
  width: 100%;
  padding: 9px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  padding: 10px;
}

.column {
  float: left;
  width: 30%;
  margin-top: 6px;
  padding: 5px;
  padding-left: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;

}
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
.info{
color: white;

}
.Location{
	text-align: right;
	color: white;
	padding-right: 300px;
	margin-top: 20px;
}
.column2 {
  float: left;
  border: solid 2px;
  border-color: white;
  color: white;
  text-align: center;
  background-color:#BD7028;
  width: 250px;
  padding: 10px;
  height: 300px; 
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 35px;
}

.row2{
  margin-left: 5%;
  margin-right: 5%;
}
.topnav {
  overflow: hidden;
  background-color: #792C35;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
.box {
    margin-bottom: 20px;
    padding: 30px 15px;
    background: #fff;
    background: rgba(255,255,255,0.9);
    width: 50%;
}
.col-lg-12 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px
}
.intro-text {
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 1px;
}
.text-center {
	text-align: center
}
.form-group {
		display: inline-block;
		margin-bottom: 0;
		vertical-align: middle
	}
.col-lg-4 {
	width:100%;
	padding-right: 70px;
	padding-left: 15px;
	float: left;
	padding-top: 5px;
}
.form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px;
	font-size: 14px;
	color: #555;
	background-color: #fff;
	border: 1px solid #ccc;
}
.Message{
	display: block;
	width: 400px;
	height: 100px;
	padding: 6px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	border: 1px solid #ccc;

}
.btn{
	padding-top: 10px;
	padding-left: 15px;
}